{
  "text": "❌ Config Change Request Cancelled for {{appName}}",
  "blocks": [
    {
      "type": "header",
      "text": {
        "type": "plain_text",
        "text": "❌ Config Change Request Cancelled"
      }
    },
    {
      "type": "section",
      "fields": [
        {
          "type": "mrkdwn",
          "text": "*Application:*\n{{appName}}"
        },
        {
          "type": "mrkdwn",
          "text": "*Environment:*\n{{envName}}"
        },
        {
          "type": "mrkdwn",
          "text": "*Cancelled by:*\n{{triggeredBy}}"
        },
        {
          "type": "mrkdwn",
          "text": "*Time:*\n{{eventTime}}"
        }
      ]
    },
    {
      "type": "section",
      "fields": [
        {
          "type": "mrkdwn",
          "text": "*File Type:*\n{{protectConfigFileType}}"
        },
        {
          "type": "mrkdwn",
          "text": "*File Name:*\n{{protectConfigFileName}}"
        }
      ]
    }
  ]
}